@import url(http://fonts.googleapis.com/css?family=Open+Sans:500);

h1{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: red;
	margin-top: 20px;
}

h2{
	float: right;
	margin-right: 20px;
}

