html{
	background: url("http://goo.gl/oPKWRC");
	background-size: 100% 100%;
}

#menuoptions{ /*side bar menu options*/
	float: left;
	height: 250px;
	width: 200px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	color: white;
}

#menuheader{
	text-align: center;
	text-decoration: underline;
	font-size: 25px;
}

.menuselections{
	text-decoration: none;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}

.menuselections:hover{
	color: red;
}

#menuitems{
	width: 800px;
	height: 1750px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-left: 300px;
}

.sand, .sal, .desserts, .bev{
	width: 300px;
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
}

#sandwiches, #salad, #dessert, #bev{
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
}

p{
	text-align: center;
}

#salad, #dessert, #bev{
	margin-top: 80px;
}

.items{
	display: block;
	font-size: 20px;
	margin-bottom: 15px;
}

