@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:500);

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

#container{
	min-height: 100%;
	position: relative;
}

a{
	text-decoration: none;
	color: white;
}

#header{
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: relative;
	z-index: +1;
}

.nav{
	display: inline-block;
}

.navlinks:hover{
	color: red;
}

.navlinks{
	margin-left: 70px;
	margin-right: 60px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

#footer{
	background-color: rgba(0,0,0,0.5);
	color: white;
	height: 50px;
	width: 100%;
	bottom: 0;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
}

h3{
	display: inline-block;
}

#phone{
	float: left;
	margin-left: 20px;
}

#goodeats{
	margin-left: 300px;
}

#copyright{
	float: right;
	margin-right: 20px;
}